@use ".././tools/variables" as var;

.skills {
	background-color: var.$colorB;
}

.divIconsSkills {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	.icons {
		height: 170px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		opacity: 0;
		transition: 0.5s ease all;
		p {
			color: var.$colorW;
			font-size: 1.1em;
		}
		img {
			padding: 8px;
			border-radius: 12px;
			width: 90px;
			height: 90px;
		}
		.imgIcon-JAVASCRIPT,
		.imgIcon-REACT {
			padding: 0;
		}
		.imgIcon-STYLED-COMPONENTS {
			padding: 1px;
		}
	}
}
.imgIcon-HTML {
	background-color:  /* #f16529 */ lighten(#e44d26, 11);
}
.imgIcon-CSS {
	background-color: darken(#33a9dc, 12);
}
.imgIcon-SASS {
	background-color: lighten(#cf649a, 19);
}
.imgIcon-GIT {
	background-color: rgb(201, 201, 201);
}
.imgIcon-MATERIAL-UI {
	background-color: darken(#0081cb, 16);
}
.imgIcon-STYLED-COMPONENTS {
	background-image: linear-gradient(
		to right top,
		#e17bdd,
		#ff76b2,
		#ff8288,
		#ff9968,
		#e9b15a
	);
}
.imgIcon-FIREBASE {
	background-color: darken(#0081cb, 5);
}
