@font-face {
  font-family: Cascadia-code;
  src: url("../.././media/CascadiaCode.ttf");
}
* {
  font-family: Cascadia-code;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@keyframes down-up {
  0% {
    transform: translateY(20px);
  }
  25% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}
@keyframes animationCard {
  0% {
    height: 40%;
  }
  100% {
    height: 100%;
  }
}
@keyframes animationCardTexts {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.main {
  background-color: #1d3557;
}

.container-main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.container-main__h1 {
  color: #a8dadc;
  margin: 20px;
  font-weight: 590;
  font-size: 2.1em;
  margin-bottom: 40px;
}
.container-main__h1 span {
  color: #f1faee;
  font-weight: 1000;
}
.container-main__btn {
  text-decoration: none;
  background-color: #1d3557;
  color: #f1faee;
  border: 2px solid #f1faee;
  font-weight: 500;
  padding: 20px;
  font-size: 1.3em;
  border-radius: 40px;
  margin-left: 17px;
}
.container-main__btn:hover {
  font-weight: 600;
  background-color: #f1faee;
  color: #1d3557;
}

.container-icon {
  position: absolute;
  bottom: 5%;
  left: 50%;
  font-size: 40px;
  animation: down-up 1s ease infinite;
}
.container-icon a {
  color: #f1faee;
}

#fp-nav ul li .fp-tooltip {
  color: #a8dadc;
}
#fp-nav ul li a span {
  background-color: #a8dadc;
}

.nav {
  position: fixed;
  width: 100%;
  padding: 20px 50px;
  margin: 0;
  display: flex;
  z-index: 70;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  text-decoration: none;
  font-size: 1.6em;
  color: #f1faee;
  font-weight: 580;
}
.nav ul {
  display: flex;
}
.nav li {
  list-style: none;
  margin: 0 20px;
}
.nav li a {
  color: #a8dadc;
  padding: 9px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  border-radius: 4px;
}
.nav li a:hover {
  background-color: #a8dadc;
  color: #1d3557;
}

.about {
  background-color: #1d3557;
}

.cardAbout {
  background-color: #182c48;
  border: 2.8px solid #f1faee;
  border-radius: 20px;
  width: 75%;
  height: 80vh;
  margin: auto;
  margin-top: 30px;
  display: flex;
  box-shadow: 0px 0px 111px -37px rgba(0, 0, 0, 0.94);
  -webkit-box-shadow: 0px 0px 111px -37px rgba(0, 0, 0, 0.94);
  -moz-box-shadow: 0px 0px 111px -37px rgba(0, 0, 0, 0.94);
}
.cardAbout__profile {
  border-right: 2.8px solid #f1faee;
  min-width: 30%;
}
.cardAbout__profile-img {
  display: block;
  width: 50%;
  height: 30%;
  margin: 30px auto;
  border-radius: 100%;
  border: 1px solid #f1faee;
  object-fit: cover;
}
.cardAbout__profile-data {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardAbout__profile-data p {
  color: #f1faee;
  font-size: 1.4em;
  text-align: center;
}
.cardAbout__profile-data a {
  font-size: 1.1em;
  color: #a8dadc;
  text-decoration: none;
  margin: 5px;
  opacity: 0.8;
}
.cardAbout__profile-data a:hover {
  text-decoration: underline;
}
.cardAbout__description {
  padding: 0 10px;
  display: flex;
  align-items: center;
  text-align: left;
  /* text-align: center; */
}
.cardAbout__description p {
  color: #f1faee;
  font-size: 1.5em;
  opacity: 0.9;
}
.cardAbout__description p a {
  color: #457b9d;
}

.skills {
  background-color: #1d3557;
}

.divIconsSkills {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.divIconsSkills .icons {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.divIconsSkills .icons p {
  color: #f1faee;
  font-size: 1.2em;
}
.divIconsSkills .icons img {
  padding: 8px;
  border-radius: 12px;
  width: 110px;
  height: 110px;
}
.divIconsSkills .icons .imgIcon-JAVASCRIPT {
  padding: 0;
}

.imgIcon-HTML {
  background-color: #ea7658;
}

.imgIcon-CSS {
  background-color: #1f86b3;
}

.imgIcon-SASS {
  background-color: #e6aeca;
}

.imgIcon-GIT {
  background-color: rgba(189, 52, 31, 0.6039215686);
}

.imgIcon-GITHUB {
  background-color: #717167;
}

.portfolio {
  background-color: #1d3557;
}

.fp-controlArrow.fp-next, .fp-controlArrow.fp-prev {
  top: 95%;
}

.fp-controlArrow.fp-next {
  border-width: 30px 0 30px 30px;
  border-color: transparent transparent transparent #a8dadc;
}

.fp-controlArrow.fp-prev {
  border-width: 30px 30px 30px 0;
  border-color: transparent #a8dadc transparent transparent;
}

.cardsContainer {
  display: flex;
  justify-content: space-around;
}

.cardsPortfolio {
  height: 70vh;
  flex-basis: 400px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  box-shadow: 6px 7px 46px -10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 7px 46px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 7px 46px -10px rgba(0, 0, 0, 0.75);
}
.cardsPortfolio__texts {
  width: 100%;
  height: 40%;
  padding: 20px;
  background-color: #182c48;
  position: absolute;
  bottom: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #f1faee;
}
.cardsPortfolio__texts-title {
  font-size: 1.5em;
  font-weight: 500;
}
.cardsPortfolio__texts-desc {
  font-size: 1.1em;
  text-align: center;
  display: none;
}
.cardsPortfolio__texts-divLinks {
  display: none;
}
.cardsPortfolio__texts-links {
  text-decoration: none;
  color: #f1faee;
  padding: 10px;
  border: 1px solid #f1faee;
}
.cardsPortfolio__texts-links:hover {
  background-color: #1d3557;
}
.cardsPortfolio__img {
  width: 100%;
  height: 65%;
  object-fit: cover;
}
.cardsPortfolio:hover .cardsPortfolio__texts {
  animation: animationCard 1.5s forwards;
}
.cardsPortfolio:hover .cardsPortfolio__texts-desc {
  display: inline;
  animation: animationCardTexts 1.8s forwards;
}
.cardsPortfolio:hover .cardsPortfolio__texts-divLinks {
  display: inline;
  animation: animationCardTexts 1.8s forwards;
}

.contact {
  background-color: #1d3557;
}

.contact-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.contact-container__img {
  width: 40%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form input,
.form textarea {
  border: none;
  border-radius: 10px;
  width: 100%;
  resize: none;
  background-color: #457b9d;
  color: #f1faee;
  font-size: 1.3em;
  padding: 10px;
  margin: 10px;
}
.form input:focus,
.form textarea:focus {
  outline: none;
  border: 2px solid white;
}
.form input::placeholder,
.form textarea::placeholder {
  color: #a8dadc;
}
.form .form__btn {
  background-color: #1d3557;
  color: #f1faee;
  border: 2px solid #f1faee;
  cursor: pointer;
  width: 100px;
  border-radius: 20px;
}
.form .form__btn:hover {
  background-color: #f1faee;
  color: #1d3557;
}

/*# sourceMappingURL=style.css.map */
